# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
content/

# testing
coverage/

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next/_events_18456.json
.next/dev/build-manifest.json
.next/dev/lock
.next/dev/package.json
.next/dev/prerender-manifest.json
.next/dev/react-loadable-manifest.json
.next/dev/routes-manifest.json
.next/dev/trace
.next/dev/cache/.rscinfo
.next/dev/cache/next-devtools-config.json
.next/dev/cache/webpack/client-development/0.pack.gz
.next/dev/cache/webpack/client-development/1.pack.gz
.next/dev/cache/webpack/client-development/2.pack.gz
.next/dev/cache/webpack/client-development/3.pack.gz
.next/dev/cache/webpack/client-development/4.pack.gz
.next/dev/cache/webpack/client-development/5.pack.gz
.next/dev/cache/webpack/client-development/index.pack.gz
.next/dev/cache/webpack/client-development/index.pack.gz.old
.next/dev/cache/webpack/server-development/0.pack.gz
.next/dev/cache/webpack/server-development/1.pack.gz
.next/dev/cache/webpack/server-development/2.pack.gz
.next/dev/cache/webpack/server-development/3.pack.gz
.next/dev/cache/webpack/server-development/4.pack.gz
.next/dev/cache/webpack/server-development/5.pack.gz
.next/dev/cache/webpack/server-development/index.pack.gz
.next/dev/cache/webpack/server-development/index.pack.gz.old
.next/dev/logs/next-development.log
.next/dev/server/app-paths-manifest.json
.next/dev/server/interception-route-rewrite-manifest.js
.next/dev/server/middleware-build-manifest.js
.next/dev/server/middleware-manifest.json
.next/dev/server/middleware-react-loadable-manifest.js
.next/dev/server/next-font-manifest.js
.next/dev/server/next-font-manifest.json
.next/dev/server/pages-manifest.json
.next/dev/server/server-reference-manifest.js
.next/dev/server/server-reference-manifest.json
.next/dev/server/webpack-runtime.js
.next/dev/server/app/page_client-reference-manifest.js
.next/dev/server/app/page.js
.next/dev/server/app/api/tickets/route_client-reference-manifest.js
.next/dev/server/app/api/tickets/route.js
.next/dev/server/vendor-chunks/@socket.io.js
.next/dev/server/vendor-chunks/@swc.js
.next/dev/server/vendor-chunks/date-fns.js
.next/dev/server/vendor-chunks/debug.js
.next/dev/server/vendor-chunks/engine.io-client.js
.next/dev/server/vendor-chunks/engine.io-parser.js
.next/dev/server/vendor-chunks/has-flag.js
.next/dev/server/vendor-chunks/ms.js
.next/dev/server/vendor-chunks/next.js
.next/dev/server/vendor-chunks/socket.io-client.js
.next/dev/server/vendor-chunks/socket.io-parser.js
.next/dev/server/vendor-chunks/supports-color.js
.next/dev/server/vendor-chunks/ws.js
.next/dev/server/vendor-chunks/xmlhttprequest-ssl.js
.next/dev/static/chunks/_app-pages-browser_node_modules_next_dist_client_dev_noop-turbopack-hmr_js.js
.next/dev/static/chunks/app-pages-internals.js
.next/dev/static/chunks/main-app.js
.next/dev/static/chunks/polyfills.js
.next/dev/static/chunks/webpack.js
.next/dev/static/chunks/app/layout.js
.next/dev/static/chunks/app/page.js
.next/dev/static/chunks/app/api/tickets/route.js
.next/dev/static/css/app/layout.css
.next/dev/static/development/_buildManifest.js
.next/dev/static/development/_ssgManifest.js
.next/dev/static/webpack/7bdb65c10a4d412e.webpack.hot-update.json
.next/dev/static/webpack/7e081e22619320a7.webpack.hot-update.json
.next/dev/static/webpack/9fc9fe4cf1f38282.webpack.hot-update.json
.next/dev/static/webpack/481d901bfa53af31.webpack.hot-update.json
.next/dev/static/webpack/770b6752f5b4dbce.webpack.hot-update.json
.next/dev/static/webpack/2701da4e5a07c8c1.webpack.hot-update.json
.next/dev/static/webpack/58504f7b3c64b18a.webpack.hot-update.json
.next/dev/static/webpack/1075196bede802a2.webpack.hot-update.json
.next/dev/static/webpack/633457081244afec._.hot-update.json
.next/dev/static/webpack/a7d76900a52ca609.webpack.hot-update.json
.next/dev/static/webpack/aa6e18433a482d7f.webpack.hot-update.json
.next/dev/static/webpack/cd9690c8d8172e91.webpack.hot-update.json
.next/dev/static/webpack/e4c3a83480266939.webpack.hot-update.json
.next/dev/static/webpack/e08aef41dda22011.webpack.hot-update.json
.next/dev/static/webpack/e171de14ae60c544.webpack.hot-update.json
.next/dev/static/webpack/webpack.7bdb65c10a4d412e.hot-update.js
.next/dev/static/webpack/webpack.7e081e22619320a7.hot-update.js
.next/dev/static/webpack/webpack.9fc9fe4cf1f38282.hot-update.js
.next/dev/static/webpack/webpack.481d901bfa53af31.hot-update.js
.next/dev/static/webpack/webpack.770b6752f5b4dbce.hot-update.js
.next/dev/static/webpack/webpack.2701da4e5a07c8c1.hot-update.js
.next/dev/static/webpack/webpack.58504f7b3c64b18a.hot-update.js
.next/dev/static/webpack/webpack.1075196bede802a2.hot-update.js
.next/dev/static/webpack/webpack.a7d76900a52ca609.hot-update.js
.next/dev/static/webpack/webpack.aa6e18433a482d7f.hot-update.js
.next/dev/static/webpack/webpack.cd9690c8d8172e91.hot-update.js
.next/dev/static/webpack/webpack.e4c3a83480266939.hot-update.js
.next/dev/static/webpack/webpack.e08aef41dda22011.hot-update.js
.next/dev/static/webpack/webpack.e171de14ae60c544.hot-update.js
.next/dev/static/webpack/app/layout.7bdb65c10a4d412e.hot-update.js
.next/dev/static/webpack/app/layout.7e081e22619320a7.hot-update.js
.next/dev/static/webpack/app/layout.9fc9fe4cf1f38282.hot-update.js
.next/dev/static/webpack/app/layout.481d901bfa53af31.hot-update.js
.next/dev/static/webpack/app/layout.770b6752f5b4dbce.hot-update.js
.next/dev/static/webpack/app/layout.2701da4e5a07c8c1.hot-update.js
.next/dev/static/webpack/app/layout.58504f7b3c64b18a.hot-update.js
.next/dev/static/webpack/app/layout.1075196bede802a2.hot-update.js
.next/dev/static/webpack/app/layout.a7d76900a52ca609.hot-update.js
.next/dev/static/webpack/app/layout.aa6e18433a482d7f.hot-update.js
.next/dev/static/webpack/app/layout.cd9690c8d8172e91.hot-update.js
.next/dev/static/webpack/app/layout.e4c3a83480266939.hot-update.js
.next/dev/static/webpack/app/layout.e08aef41dda22011.hot-update.js
.next/dev/static/webpack/app/layout.e171de14ae60c544.hot-update.js
.next/dev/static/webpack/app/page.7bdb65c10a4d412e.hot-update.js
.next/dev/static/webpack/app/page.9fc9fe4cf1f38282.hot-update.js
.next/dev/static/webpack/app/page.770b6752f5b4dbce.hot-update.js
.next/dev/static/webpack/app/page.2701da4e5a07c8c1.hot-update.js
.next/dev/static/webpack/app/page.cd9690c8d8172e91.hot-update.js
.next/dev/static/webpack/app/page.e4c3a83480266939.hot-update.js
.next/dev/static/webpack/app/page.e171de14ae60c544.hot-update.js
.next/dev/types/cache-life.d.ts
.next/dev/types/package.json
.next/dev/types/routes.d.ts
.next/dev/types/validator.ts
.next/dev/types/app/layout.ts
.next/dev/types/app/page.ts
.next/dev/types/app/api/tickets/route.ts
